<script>
const CSRF_TOKEN_ANSWER_LIKE = getCookie('csrftoken');
const BASE_URL_ANSWER_LIKE = "{% url 'questions:answer_like_add' answer_id=0 %}"

async function send_answer_like(type, id) {
    try {
        const url = BASE_URL_ANSWER_LIKE.replace("0", id) + `?type=${type}`
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': CSRF_TOKEN_ANSWER_LIKE
            },
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        window.location.reload();
    } catch (error) {
        console.error('Ошибка при отправке запроса:', error);
    }
}

function handle_answer_like_click(event) {
    const button = event.currentTarget;
    const type = parseInt(button.dataset.type);
    const id = parseInt(button.dataset.answer);
    
    if (type === 1 || type === -1) {
        send_answer_like(type, id);
    } else {
        console.error('Некорректное значение type:', type);
    }
}

const answer_like_buttons = document.querySelectorAll('.vote-btn');

answer_like_buttons.forEach(button => {
    button.addEventListener('click', handle_answer_like_click);
});
</script>