<ul class="pagination">
  {% if pagination.page.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ pagination.page.previous_page_number }}"><<</a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link"><<</a></li>
  {% endif %}

  {% if pagination.first_page %}
  <li class="page-item active"><a class="page-link" style="background-color: rgb(157, 211, 243); border-color: rgb(157, 211, 243);"
    href="?page={{ pagination.first_page }}">{{ pagination.first_page }}</a></li>
  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
  {% endif %}

  {% for p in pagination.range %}
  <li class="page-item active"><a class="page-link"
    {% if p != pagination.page.number %}style="background-color: rgb(157, 211, 243); border-color: rgb(157, 211, 243);"{% endif %}
    href="?page={{ p }}">{{ p }}</a></li>
  {% endfor %}

  {% if pagination.last_page %}
  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
  <li class="page-item active"><a class="page-link" style="background-color: rgb(157, 211, 243); border-color: rgb(157, 211, 243);"
    href="?page={{ pagination.last_page }}">{{ pagination.last_page }}</a></li>
  {% endif %}

  {% if pagination.page.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ pagination.page.next_page_number }}">>></a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link">>></a></li>
	{% endif %}
</ul>