{% extends 'base.html' %} 

{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'questions/css/answers.css' %}">
<link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/prompt-primary.css' %}">

{% endblock %}

{% block content %}

{% if question %}
<div style="border: 0.2rem solid black; padding: 0; border-radius: 12px; margin-bottom: 0.9rem;">
  {% include 'questions/partials/question.html' %}
</div>

{% else %}
<div class="mb-3 text-danger" style="font-size: 2.1rem; font-weight: 500">
  Question not found.
</div>
{% endif %}

{% if question %}
<div class="answers-header">
  <h2 class="mb-2 text-info">
    Answers
  </h2>
</div>

{% if answers %}

{% for answer in answers %}

{% if answer.is_correct %}

<div class="answer correct-answer d-flex">
  <div class="answer-avatar">
    <img src="#" class="answer-avatar img-fluid">
  </div>
  <div class="flex-grow-1" style="margin-left: 0.5rem; margin-right: 0.5rem; display: flex; flex-direction: column;">
    <div class="answer-text">
      {{ answer.content }}
    </div>

    <div class="d-flex flex-wrap" style="margin-top: auto;">
      <h5 class="text-success">
        Correct.
      </h5>
    </div>
  </div>
  <div class="vote-controls">
    <button class="btn btn-outline-success btn-sm vote-btn">
      <strong>+</strong>
    </button>
    <span class="vote-count">{{ answer.vote_count }}</span>
    <button class="btn btn-outline-danger btn-sm vote-btn">
      <strong>-</strong>
    </button>
  </div>
</div>

{% else %}

<div class="answer d-flex">
  <div class="answer-avatar">
    <img src="#" class="answer-avatar img-fluid">
  </div>
  <div class="flex-grow-1" style="margin-left: 0.5rem; margin-right: 0.5rem; display: flex; flex-direction: column;">
    <div class="answer-text">
      {{ answer.content }}
    </div>

    <div class="d-flex flex-wrap" style="margin-top: auto;">
      <h5 class="text-warning">
        Not checked.
      </h5>
    </div>
  </div>
  <div class="vote-controls">
    <button class="btn btn-outline-success btn-sm vote-btn">
      <strong>+</strong>
    </button>
    {% if answer.vote_count %}{% endif %}
    <span class="vote-count">
      {% if answer.vote_count %}
      {{ answer.vote_count }}
      {% else %}
      0
      {% endif %}
    </span>
    <button class="btn btn-outline-danger btn-sm vote-btn">
      <strong>-</strong>
    </button>
  </div>
</div>

{% endif %}

{% endfor %}

{% else %}

<div class="mb-3 text-danger" style="font-size: 1.2rem; font-weight: 500">
  No answers, you can first!
</div>

{% endif %}

{% include 'questions/partials/pagination.html' %}

{% if logined %}
<form method="POST" action="{% url "questions:add_answer" question_id=question.id %}">
{% csrf_token %}
<div class="input-group" style="height: 7.5rem;">
  <span class="input-group-text prompt-primary">Your solution: </span>
  <textarea class="form-control" placeholder="Type your solution..." required name="content">
  {{ form.cleaned_data.content }}
  </textarea>
</div>

<div style="margin: 0.7rem; margin-right: 0; display: flex; justify-content: flex-end;">
  <button class="btn btn-primary btn-lg">Solve</button>
</div>
</form>
{% endif %}

{% endif %}

{% endblock %}