{% extends 'base.html' %} 

{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'questions/css/answers.css' %}">
<link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/prompt-primary.css' %}">

{% endblock %}

{% block content %}

{% if question %}
<div style="border: 0.2rem solid black; padding: 0; border-radius: 12px; margin-bottom: 0.9rem;">
  {% include 'questions/partials/question.html' %}
</div>
{% include 'questions/partials/question_like_script.html' %}

{% else %}
<div class="mb-3 text-danger" style="font-size: 2.1rem; font-weight: 500">
  Вопрос не найден.
</div>
{% endif %}

{% if question %}
<div class="answers-header">
  <h2 class="mb-2 text-info">
    Ответы
  </h2>
</div>

{% if answers %}

{% for answer in answers %}

{% include 'questions/partials/answer.html' %}

{% endfor %}

{% include 'questions/partials/answer_like_script.html' %}
{% include 'questions/partials/answer_set_correct_script.html' %}

{% else %}

<div class="mb-3 text-danger" style="font-size: 1.2rem; font-weight: 500">
  Ответов нет. Вы можете стать первым!
</div>

{% endif %}

{% include 'questions/partials/pagination.html' %}

{% if logined %}
<form method="POST" action="{% url "questions:answer_add" question_id=question.id %}">
{% csrf_token %}
<div class="input-group" style="height: 7.5rem;">
  <span class="input-group-text prompt-primary">Ваше решение: </span>
  <textarea class="form-control" placeholder="Введите ваше решение..." required name="content">{{ form.cleaned_data.content }}</textarea>
</div>

<div style="margin: 0.7rem; margin-right: 0; display: flex; justify-content: flex-end;">
  <button class="btn btn-primary btn-lg">Написать</button>
</div>
</form>
{% endif %}

{% endif %}

{% endblock %}