{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
<script src="{% static 'js/cookie.js' %}"></script>

{% endblock %}

{% block content %}
<div class="mb-4" style="display: flex;">
  <span style="margin-right: 1.5rem;">
    <h2 class="fw-bold text-danger" style="border-left: 5px solid #f01111d6; padding-left: 1rem;">
      Срочные вопросы
    </h2>
  </span>
  <span>
    <a class="link-info link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
    href="{% url 'questions:index' %}">
      <h2 class="fw-bold text-info">
        Новые вопросы
      </h2>
    </a>
  </span>
</div>

{% include 'questions/partials/question_list.html' %}
{% include 'questions/partials/pagination.html' %}

{% include "questions/partials/question_like_script.html" %}
{% endblock %}