SECRET_KEY="SECRET_KEY"
DEBUG="True"

DATABASE_NAME="MY_DATABASE"
DATABASE_USER="ME"
DATABASE_PASSWORD="PASSWORD"
DATABASE_HOST="localhost"
DATABASE_PORT=5432

CENTRIFUGE_HMAC_SECRET="YOUR_HMAC_SECRET"
CENTRIFUGE_URL="YOUR_URL"
CENTRIFUGE_API_KEY="YOUR_API_KEY"