{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/prompt-primary.css' %}">
{% endblock %}

{% block content %}
<div class="mb-4">
  <h2 class="fw-bold text-info" style="border-left: 5px solid #0dcaf0; padding-left: 1rem;">
    Вход в профиль
  </h2>
</div>


{% for err_msg in form.non_field_errors %}
<div class="mb-3">
  <h5 class="text-danger">
    {{ err_msg }}
  </h5>
</div>
{% endfor %}

<form class="mb-4" style="margin-right: 1.0rem; max-width: 500px;"
  method="POST" action="?next={{ redirect_url }}">
  {% csrf_token %}

  <div class="form-group mb-3">
    <div class="input-group">
      <span class="input-group-text prompt-primary" style="height: 3.3rem">Логин: </span>
        <input type="text" class="form-control"
        placeholder="Введите логин..." style="height: 3.3rem;" required name="username" value="{{ form.cleaned_data.username }}">
    </div>
  </div>
  <div class="form-group mb-3">
    <div class="input-group">
      <span class="input-group-text prompt-primary" style="height: 3.3rem">Пароль: </span>
      <input type="password" class="form-control"
      placeholder="Введите пароль..." style="height: 3.3rem;" required name="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Войти</button>
</form>

<div style="margin: 0.7rem 0; text-align: left;">
  <a href="{% url 'core:register' %}">
    <button class="btn btn-secondary btn-lg">Создать новый аккаунт</button>
  </a>
</div>
{% endblock %}