{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/prompt-primary.css' %}">
{% endblock %}

{% block content %}
<div class="mb-4">
  <h2 class="fw-bold text-info" style="border-left: 5px solid #0dcaf0; padding-left: 1rem;">
    Registration
  </h2>
</div>

<div class="mb-3">
  <h5 class="text-danger">
    Sorry, this email address already registered!
  </h5>
</div>

<form class="mb-4" style="margin-right: 1.0rem; max-width: 500px; padding-right: 1.5rem;">
  <div class="form-group mb-3">
    <div class="input-group" style="height: 3.3rem">
      <span class="input-group-text prompt-primary">Login: </span>
      <input type="text" class="form-control" placeholder="Type login...">
    </div>
  </div>

  <div class="form-group mb-4">
    <div class="input-group" style="height: 3.3rem">
      <span class="input-group-text prompt-primary">Email: </span>
      <input type="email" class="form-control" placeholder="Type email...">
    </div>
  </div>

  <div class="form-group mb-4">
    <div class="input-group" style="height: 3.3rem">
      <span class="input-group-text prompt-primary">NickName: </span>
      <input type="text" class="form-control" placeholder="Type nickname...">
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="input-group" style="height: 3.3rem">
      <span class="input-group-text prompt-primary">Password: </span>
      <input type="password" class="form-control" placeholder="Type password...">
    </div>
  </div>

  <div class="form-group mb-4">
    <div class="input-group" style="height: 3.3rem">
      <span class="input-group-text prompt-primary">Repeat password: </span>
      <input type="password" class="form-control" placeholder="Repeat password...">
    </div>
  </div>

  <div class="form-group mb-3" style="height: 3.3rem">
    <div class="input-group mb-5" style="padding-right: 1.5rem; max-width: 380px;">
      <input type="file" class="form-control" accept="image/*">
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Register</button>
</form>
{% endblock %}