{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>WHAT && WHY && HOW</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  
  {% if user_logined %}
  <link rel="stylesheet" href="{% static 'css/avatar.css' %}">
  <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
  {% endif %}

  {% block head %}
  {% endblock %}
  
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <div class="header">
    <div class="d-flex align-items-center p-3 flex-wrap justify-content-between"
      style="max-width: 1400px; margin: 0 auto;">
      <div class="d-flex align-items-center flex-grow-1">
        <div class="flex-shrink-0">
          <a href="{% url 'questions:index' %}">
            <img src="{% static 'img/question.png' %}" 
              class="img-fluid"
              style="width: 80px; height: auto;">
          </a>
        </div>

        <div class="input-group ms-3" style="width: 40%; min-width: 280px;">
          <input type="text" class="form-control border-primary-subtle bg-light"
            placeholder="Введите вопрос..." aria-label="Question" style="border-width: 2px;">
          <button class="btn btn-success" type="button">
            Поиск
          </button>
        </div>

        {% if user_logined %}
        <div class="d-flex ms-3">
          <a href="{% url 'questions:ask' %}">
            <button class="btn btn-info btn-md px-4">
              Спросить
            </button>
          </a>
        </div>
        {% endif %}
      </div>

      {% if user_logined %}
      <div class="d-flex gap-2 mt-2 mt-sm-0" style="align-items: flex-start;">
        <div class="user-avatar" style="margin-right: 0.5rem;">
          <img class="img-fluid user-avatar" src="{{ user_avatar_url }}">
        </div>
        <div style="flex: 1;">
          <h5 class="mb-3">
            {{ user_nickname }}
          </h5>
          <div class="d-flex gap-2">
            <a href="{% url 'core:settings' %}">
              <button class="btn btn-secondary btn-sm">
                Профиль
              </button>
            </a>
            <form method="POST" action="{% url 'core:logout' %}?stay_on={{ current_url }}">
              {% csrf_token %}

              <button class="btn btn-danger btn-sm">
                Выйти
              </button>
            </form>
          </div>
        </div>
      </div>

      {% else %}
      <div class="d-flex gap-2 mt-2 mt-sm-0">
        <a href="{% url 'core:login' %}?next={{ current_url }}">
          <button class="btn btn-secondary btn-md px-4">
            Войти
          </button>
        </a>
        <a href="{% url 'core:register' %}">
          <button class="btn btn-primary btn-md px-4">
            Зарегистрироваться
          </button>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="main">
    <div class="main-content">

      {% block content %}
      {% endblock %}

      {% if user_logined %}
      <div class="notification-container" id="notifContainer"></div>
      {% endif %}
      
    </div>

    <div class="sidebar">
      {% include "popular-tags.html" %}
      {% include "best-members.html" %}
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <h2>WHAT && WHY && HOW</h2>
      <hr>
      <p>Интересна та или иная тема? Задай вопрос или найди уже готовый ответ.</p>
    </div>
  </div>

  {% if user_logined %}
  <script src="https://unpkg.com/centrifuge@5.4.0/dist/centrifuge.js"></script>
  <script type="text/javascript">
    const centrifuge = new Centrifuge("ws://127.0.0.1:8000/connection/websocket", {
      token: "{{ user_jwt_token }}"
    });

    centrifuge.on('connecting', function (ctx) {
      console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
    }).on('connected', function (ctx) {
      console.log(`connected over ${ctx.transport}`);
    }).on('disconnected', function (ctx) {
      console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
    }).connect();

    const sub = centrifuge.newSubscription("notifications:user-{{ user_id }}");
    const question_link = "{% url 'questions:question' question_id=0 %}"

    sub.on('publication', function (ctx) {
      console.log(ctx);
      showSimpleNotification(
        `Вам ответил '${ctx.data.author_nickname}'.`,
        truncateString(ctx.data.message, 76),
        question_link.replace("0", ctx.data.question_id) + `?page=${ctx.data.answer_page}#answer-${ctx.data.answer_id}`,
        7
      )
    }).on('subscribing', function (ctx) {
      console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
    }).on('subscribed', function (ctx) {
      console.log('subscribed', ctx);
    }).on('unsubscribed', function (ctx) {
      console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
    }).subscribe();
  </script>
  {% endif %}

  {% if user_logined %}
  <script>
    function truncateString(str, length) {
    if (str.length > length) {
        return str.slice(0, length) + '...';
    }
    return str;
}
  function showSimpleNotification(title, text, link, duration) {
    const container = document.getElementById('notifContainer');
    
    const notif = document.createElement('div');
    notif.className = 'notification';
    notif.innerHTML = `
        <button class="notification-close" onclick="this.parentElement.remove()">×</button>
        <strong>${title}</strong>
        <p style="margin:5px 0 0">${text}</p>
        <a style="link-success" href=${link}>Посмотреть ответ можно тут</a>
        <div class="timer-bar" style="width:100%"></div>
    `;
    
    container.appendChild(notif);
    
    let timeLeft = duration;
    const timerBar = notif.querySelector('.timer-bar');
    
    const interval = setInterval(() => {
        timeLeft -= 0.1;
        timerBar.style.width = (timeLeft / duration) * 100 + '%';
    }, 100);
    
    setTimeout(() => {
        clearInterval(interval);
        notif.remove();
    }, duration * 1000);
}
</script>
  {% endif %}

</body>

</html>